{% extends "game/base.html" %}
{% block content %}
	<h2>Game Name: {{ game.name }}</h2>
	<h4>Game Status: {{game.game_status}}</h4>
    <h5>Cells</h5>
    
    {% if game.getGameCells %}
        <ul class="list-group">
            {% for cell in game.getGameCells %}
                <li class="list-group-item">{{cell}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h5>Players</h5>
    {% if game.getGamePlayers %}
        <ul class="list-group">
            {% for player in game.getGamePlayers %}
                <li class="list-group-item">{{player}}</li>
            {% endfor %}
        </ul>
    {% endif %}	
	
{% endblock content %}


{% block script %}

<script type="text/javascript">

$(document).ready(function(){

    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:"){ wsStart = "wss://"}
    var webSocketEndpoint =  wsStart + loc.host + loc.pathname  // ws : wss
    var socket = new WebSocket(webSocketEndpoint)

    var rollButton = $("#roll")
    var nextButton = $("#next")
    var pickButton = $("#pick")
    var no_pickButton = $("#no_pick")
    var gameLog = $("#gameLog")
    var nextUrl = rollButton.attr('value')
    console.log("nextURL:", nextUrl)
    var pickUrl = pickButton.attr('value')
    var user_id = "{{request.user.id}}"

    if (socket.readyState == WebSocket.OPEN) {

    }
    else if (socket.readyState == WebSocket.CONNECTING){
        console.log("connecting..")
    }

    socket.onopen = function(e){
        console.log('Onopen', e)
        socket.send(JSON.stringify({
            "msg": "socket_open",
            "user_id": "{{request.user.id}}"
        }));    
        /* formData.submit(function(event){
            event.preventDefault()
            var messageText = messageInput.val()
            console.log(messageText)
            var jsonData = JSON.stringify({msg: messageText, user:'jmitchel3'})
            socket.send(jsonData)
            formData[0].reset()
        }) */
    }

    socket.onerror = function(e){
        console.log('socket error', e)
    }
    socket.onclose = function(e){
        console.log('socket closed', e)
    }
    /**************************************************************************************/
    rollButton.click(function() {
        var jsonData = JSON.stringify({msg: "roll button clicked", user:'ilker'})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: nextUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse){
                //var jsonResponse = data.data;
                console.log("Roll Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    alert(jsonResponse["warning"])
                }    
            }
        })
    });
    nextButton.click(function() {
        var jsonData = JSON.stringify({msg: "next button clicked"})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: nextUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse) {
                console.log("Next Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    alert(jsonResponse["warning"])
                }
            }
        })
    });
    pickButton.click(function() {
        var jsonData = JSON.stringify({msg: "pick button clicked"})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: pickUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse) {
                console.log("Roll Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    alert(jsonResponse["warning"])
                }
            }
        })
    });
    no_pickButton.click(function() {
        var jsonData = JSON.stringify({msg: "no_pick button clicked"})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: pickUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse) {
                console.log("No_Pick Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    alert(jsonResponse["warning"])
                }
            }
        })
    });
    
    socket.onmessage = function(e){
        //console.log('Onmessage', e)
        var msgData = JSON.parse(e.data)

        //console.log("message: ",msgData['gameLog'])
        console.log(msgData.gameLog)
        var obj = msgData.gameLog
        if( obj == null || obj == undefined) return;
        
        gameLog.empty()
        for (let i = 0; i < obj.length; i++) { // FIXME: Allah icin iterate et su objeyi            
            //console.log(obj[i]["fields"])
            console.log(obj[i].fields.message) // Bu kod browser console'da calisiyor ve sirayla gameLoglari donuyor
            //gameLog.append(`<li class="list-group-item-warning">${obj[i].fields.message}</li>`)
        }
        //gameLog.append(`<li class="list-group-item-warning">${msgData.gameLog}</li>`)
        //gameLog.prepend(`<li class="list-group-item-warning">${msgData}</li>`)

    }
})

</script>

{% endblock %}