{% extends "game/base.html" %}
{% block content %}
	<h2>Game Name: {{ game.name }}</h2>
	<h4>Game Status: {{game.game_status}}</h4>
    <div class="alert alert-success" role="alert" style="display: none;" id='turn'>You are the current user!</div>
    <div class="alert alert-danger" role="alert" style="display: none;" id='notTurn'>You are not the current user!</div>
    <div class="alert alert-danger" role="alert"style="display: none;" id='broke'>You are broke! However, you can continue to watch the game :)</div>
    <h5>Cells</h5>
    <table border="1">

    </table>
    </body>
    {% if game.getGameCells %}
        <ul class="list-group" id="cells">
            {% comment "" %}
                {% for cell in game.getGameCells %}
                    <li class="list-group-item">{{cell}}</li>
                {% endfor %}
            {% endcomment %}
            
        </ul>
    {% endif %}

    <h5>Players</h5>
    {% if game.getGamePlayers %}
        <ul class="list-group" id="players">
            {% comment "" %}
                {% for player in game.getGamePlayers %}
                <li class="list-group-item">{{player}}</li>
            {% endfor %}
            {% endcomment %}
            
        </ul>
    {% endif %}	
	
{% endblock content %}


{% block script %}

<script type="text/javascript">

$(document).ready(function(){

    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:"){ wsStart = "wss://"}
    var webSocketEndpoint =  wsStart + loc.host + loc.pathname  // ws : wss
    var socket = new WebSocket(webSocketEndpoint)

    var rollButton = $("#roll")
    var nextButton = $("#next")
    var pickButton = $("#pick")
    var no_pickButton = $("#no_pick")
    var gameLog = $("#gameLog")
    var cells = $("#cells")
    var players = $("#players")
    var notify = $("#notify")
    var nextUrl = rollButton.attr('value')
    console.log("nextURL:", nextUrl)
    var pickUrl = pickButton.attr('value')
    var user_id = "{{request.user.id}}"
    var username = "{{request.user.username}}"
    console.log("username:", username)
    if (socket.readyState == WebSocket.OPEN) {

    }
    else if (socket.readyState == WebSocket.CONNECTING){
        console.log("connecting..")
    }
    function generateTableHead(table, cellData, playerData,playerDescData) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        
        let th = document.createElement("th");
        let text = document.createTextNode("Cells");

        th.appendChild(text);
        row.appendChild(th);
        for (let key in playerData) {
            let th = document.createElement("th");
            let text = document.createTextNode(playerData[key]);
            th.title = playerDescData[key];
            th.appendChild(text);
            row.appendChild(th);
        }
    }
    function generateTable(table, cellData,playerData,playerCellData,cellDescData) {
        for (element in cellData) {
            let row = table.insertRow();
            let cell = row.insertCell();
            cell.title = cellDescData[element];
            let text = document.createTextNode(cellData[element]);
            cell.appendChild(text);
            for (key in playerData) {
              let cell = row.insertCell();
              let text = document.createTextNode("");
              if(playerCellData[key] == element){
                  cell.style.backgroundColor = "yellow";
                  
              }
              cell.appendChild(text);
            }
        }
    }

    socket.onopen = function(e){
        console.log('Onopen', e)
        socket.send(JSON.stringify({
            "msg": "socket_open",
            "user_id": "{{request.user.id}}"
        }));    
        /* formData.submit(function(event){
            event.preventDefault()
            var messageText = messageInput.val()
            console.log(messageText)
            var jsonData = JSON.stringify({msg: messageText, user:'jmitchel3'})
            socket.send(jsonData)
            formData[0].reset()
        }) */
    }

    socket.onerror = function(e){
        console.log('socket error', e)
    }
    socket.onclose = function(e){
        console.log('socket closed', e)
    }
    /**************************************************************************************/
    
    rollButton.click(function() {
        var jsonData = JSON.stringify({msg: "roll button clicked", user:user_id})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: nextUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse){
                //var jsonResponse = data.data;
                console.log("Roll Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    notify.empty()
                    //$("notify").update(jsonResponse["warning"]);
                    document.getElementById("notify").innerHTML =  jsonResponse["warning"]
                    document.getElementById("notify").style.display = "block"
                    //notify.innerHTML =  jsonResponse["warning"] 
                    //alert(jsonResponse["warning"])
                }    
            }
        })
    });
    nextButton.click(function() {
        var jsonData = JSON.stringify({msg: "next button clicked"})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: nextUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse) {
                console.log("Next Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    notify.empty()
                    document.getElementById("notify").innerHTML =  jsonResponse["warning"]
                    document.getElementById("notify").style.display = "block"
                    //notify.innerHTML =  jsonResponse["warning"] 
                    //alert(jsonResponse["warning"])
                }
            }
        })
    });
    pickButton.click(function() {
        var jsonData = JSON.stringify({msg: "pick button clicked"})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: pickUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse) {
                console.log("Roll Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    notify.empty()
                    document.getElementById("notify").innerHTML =  jsonResponse["warning"]
                    document.getElementById("notify").style.display = "block"
                    //notify.innerHTML =  jsonResponse["warning"] 
                    //alert(jsonResponse["warning"])
                }
            }
        })
    });
    no_pickButton.click(function() {
        var jsonData = JSON.stringify({msg: "no_pick button clicked"})
        socket.send(jsonData)
        $.ajax({
            type: 'POST',
            url: pickUrl,
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN, roll: ''},
            success: function(jsonResponse) {
                console.log("No_Pick Success - FrontEnd !");
                if(jsonResponse["warning"] != ""){
                    notify.empty()
                    document.getElementById("notify").innerHTML =  jsonResponse["warning"]
                    document.getElementById("notify").style.display = "block"
                    
                    //notify.innerHTML =  jsonResponse["warning"] 
                    //alert(jsonResponse["warning"])
                }
            }
        })
    });
    
    socket.onmessage = function(e){
        //console.log('Onmessage', e)
        var msgData = JSON.parse(e.data)

        //console.log("message: ",msgData['gameLog'])
        //console.log(msgData.gameLog)
        try {
            var gameLogObj = JSON.parse(msgData.gameLog)
            var gameCellsDesc = JSON.parse(msgData.cellsDesc)
            var gamePlayers = JSON.parse(msgData.players)
            var currentPlayer = JSON.parse(msgData.players)
            var credit = JSON.parse(msgData.credit)
            console.log(gameCellsDesc.cells[0])
            console.log(gameLogObj)

            let table = document.querySelector("table");
            let cellData = gameCellsDesc["cellNames"];
            let cellDescData = gameCellsDesc["cells"];
            let playerData = gamePlayers["playerNames"];
            let playerCellData = gamePlayers["playerCellNos"];
            let playerDescData = gamePlayers["players"];

            generateTableHead(table, cellData,playerData,playerDescData);
            generateTable(table, cellData,playerData,playerCellData,cellDescData);




            if( gameLogObj != null && gameLogObj != undefined){
                gameLog.empty()
                console.log(gameLogObj.length)
                for (let i = 0; i < gameLogObj.length; i++) { // FIXME: Allah icin iterate et su objeyi            
                    //console.log(obj[i]["fields"])
                    //console.log(obj[i].fields.message) // Bu kod browser console'da calisiyor ve sirayla gameLoglari donuyor
                    gameLog.append(`<li class="list-group-item-warning">${gameLogObj[i].fields.message}</li>`)
                }
            }
            if( gameCellsDesc != null && gameCellsDesc != undefined){
                cells.empty()
                console.log(gameCellsDesc.cells.length)
                for (let i = 0; i < gameCellsDesc.cells.length; i++) { // FIXME: Allah icin iterate et su objeyi            
                    //console.log(gameCellsDesc[i]["fields"]["description"])
                    //console.log(obj[i].fields.message) // Bu kod browser console'da calisiyor ve sirayla gameLoglari donuyor
                    cells.append(`<li class="list-group-item">${gameCellsDesc.cells[i]}</li>`)
                }
            }
            if( gamePlayers != null && gamePlayers != undefined){
                players.empty()
                //console.log(gameCellsDesc.cells.length)
                for (let i = 0; i < gamePlayers.players.length; i++) { // FIXME: Allah icin iterate et su objeyi            
                    //console.log(gameCellsDesc[i]["fields"]["description"])
                    //console.log(obj[i].fields.message) // Bu kod browser console'da calisiyor ve sirayla gameLoglari donuyor
                    players.append(`<li class="list-group-item">${gamePlayers.players[i]}</li>`)
                }
            }
            if(currentPlayer != null && currentPlayer != undefined){
                if(parseInt(credit["credit"]) <= 0 ){
                    document.getElementById("notTurn").style.display = "none"
                    document.getElementById("turn").style.display = "none"
                    document.getElementById("broke").style.display = "block"
                }
                if(currentPlayer["currentPlayer"] == username){
                    document.getElementById("notTurn").style.display = "block"
                    document.getElementById("turn").style.display = "block"
                    document.getElementById("broke").style.display = "none"
                }
                else {
                    document.getElementById("turn").style.display = "none"
                    document.getElementById("notTurn").style.display = "block"
                    document.getElementById("broke").style.display = "none"

                } 
            }
        }
        catch(err){
            console.log(err) // TODO: daha guzel bi handle bulunabilir
        }
        
        
        
        
        
        //gameLog.append(`<li class="list-group-item-warning">${msgData.gameLog}</li>`)
        //gameLog.prepend(`<li class="list-group-item-warning">${msgData}</li>`)

    }
})

</script>

{% endblock %}